{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}<title>Travel Ocean 자유게시판</title>{% endblock %}
</head>
<body>
    {% block content %}
    <!-- input 태그에 적은 값으로 새로운 blog를 만들어 저장하므로(변화가 일어남), POST 방식 사용 -->
    <br>
    <form action="{% url 'free_borad_update' blog.id %}" method="POST" enctype="multipart/form-data">
        <table>
        {% csrf_token %}
        {{ form.as_table }}
        </table>
          <input type="submit" value="수정하기"> 
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'jquery.js' %}"></script>
  <script src="{% static 'bootstrap.bundle.js' %}"></script>
    {% endblock %}
</body>
</html>