<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Travel Ocean</title>

    {% block head %}
{% endblock %}

</head>

<body>
<header> 
    {% block content %}
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Welcome Travel Ocean! </h1>

        <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
            <div class="row-1">
     <div class="row-signup">
      <table>
      <h3 class="text-center">회원가입</h3>
				<tr>
					<td>ID</td>
					<td><input type="text" id="id" name="userid" class="signup-style" ></td>
                     
                         {{msg}}
				</tr>
				<tr>
						<td>PW
					</td>
                    <td><input type="password" id="pw1" name="pw" class="signup-style"></td>
          </tr>
          <tr>
                        <td>PW 확인
                    </td>
						<td><input type="password" id="pw2" name="pw_check" class="signup-style"></td>
				</tr>
				<tr>{{pw_msg}}
                    	<td>이름</td>
                    <td><input type="tel" id="user" name="user" class="signup-style"></td>
                </tr>
				<tr>
					<td>휴대폰</td>
                    <td><input type="text" id="phone" name="phone" class="signup-style" pattern="[0-9]{3}[0-9]{4}[0-9]{4}" placeholder="01012345678"></td>
                </tr>
				<tr>
					<td>생일</td>
					<td><input type="date" id="birth" name="birth" class="signup-style"></td>
				</tr>
				<tr>
                    <td>이메일</td>
					<td><input type="email" id="email" name="email" class="signup-style"></td>
				</tr>
				<tr>
					<td colspan="2" ><input type="submit" id="signup"
						value="회원가입" class="btn btn-primary btn-block2"> <input type="button" value="뒤로가기" onclick="location.href='{% url 'main' %}'" class="btn btn-primary btn-block2">
					</td>
				</tr>
			</table>
            
    </div>
    </div>
            </form>
    <!-- /.row -->
   <!-- Marketing Icons Section -->
   
    </div>
   

  <!-- /.container -->
<br><br><br><br><br><br><br><br><br>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"><br></p>
    </div>
    <!-- /.container -->
  </footer>
    <script>
        $("#id_check").blur(function(){
            $.ajax({
                type:"POST",
                url:"{% url 'signup' %}"
                date: {
                    "id":$('#id').val()
            },
                success:function(data){
                    if($.trim(data)=="YES"){
                        if($('#id').val()!=''){
                            alert("사용가능한 아이디입니다.")
                        }
                    }else{
                        if($('#id').val()!=''){
                            alert("중복된 아이디입니다.")
                            $('#id').val('');
                            $('#id').focus();
                        }
                    }    
            }
            })
        })
    </script>
  <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{% static 'jquery.js' %}"></script>
  <script src="{% static 'signup-jquery.js' %}"></script>
  <script src="{% static 'bootstrap.bundle.js' %}"></script>
 {% endblock %}


</body>

</html>
